<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h2 class="display-4"><span class="patient-text">在宅療養者</span>と<br>その関係者のための情報共有プラットフォーム</h2>
      <p class="lead">命に関わる重要な健康管理を家族、医療・介護スタッフが連携して行い、在宅療養者を支える環境を構築します。</p>
      <%= link_to "HCCを無料で開始する", new_user_registration_path, class: "hcc-button" %>

    </div>
    <div class="col-lg-6">
      <%= image_tag "top-image-conversation.svg", class: "img-fluid" %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-6">
      <h3>チャット機能</h3>
      <p>最新の健康状態をリアルタイムで共有し、対面、電話、書面を超えた情報共有が可能となります。</p>
    </div>
    <div class="col-lg-6">
      <h3>お薬管理機能</h3>
      <p>お薬の種類と服薬時間を簡単に登録するだけで、１日の服用スケジュールが作成され、複数の薬も一元管理でき確実な服用をサポートします</p>
    </div>
  </div>
</div>
