<h1>ようこそ</h1>
<p>トップページです。</p>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

<% if user_signed_in? %>
  <p>あなたの Secret Patient ID: <%= @secret_patient_id %></p>
<% else %>
  <p>You are not signed in.</p>
<% end %>
