/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html, body {
  height: 100%;
}


.bg-lightblue {
  background-color: #BAD3FF;
  min-height: 100vh;
}


// フラッシュメッセージ
.flash {
  position: fixed;
    top: 0;
    left: 25%; //サイドメニューの幅を引く
    right: 0;
    width: 75%; // 各ビュー75%に設定
    text-align: center;
    padding: 10px;
    z-index: 1000;
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); // 影を追加
  }

  .flash-notice {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    background: linear-gradient(to right, #cce5ff, #a2c4ff);
  }

  .flash-alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    background: linear-gradient(to right, #f8d7da, #f2a1a6);
  }

  // チャット　フォーム
  .fixed-form {
    position: sticky;
    bottom: 0;
    background-color: #e8f4e4;
    // box-sizing: border-box;
  }

  #message_content {
    resize: none; // テキストエリアのリサイズを無効化
  }

  .submit-button {
    height: 40px;
    width: 50px;
    border-radius: 10px;
    background-color: #5c8aed;
    transition: background-color 0.2s ease;
    border : none;
  }

  .submit-button:hover {
    background-color: #0250f6;
    }

  // チャットメッセージ
.other-message {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.my-message {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.message .card { // 吹き出し
  display: flex;
  justify-content: flex-start;
  max-width: 75%;
  // padding: 1px;
  border-radius: 5px;
  margin-left: 30px;
}

.my-message .card { // 吹き出し（自分）
  margin-left: auto;
  background-color: #d5f8bb;
}

.other-message .card {  // 吹き出し（他人）
  margin-right: auto;
  margin-left: 55px;
  background-color: #f4f4f4;
}

.my-message .card:before {    // 吹き出しの三角部分（自分）
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  right: -20px;
  top: 4;
  border-left-color: #d5f8bb;
}

.other-message .card:before { // 吹き出しの三角部分（他人）
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  left: -20px;
  top: 4;
  border-right-color: #f4f4f4;
}

.my-message .timestamp {
  position: absolute;
  bottom: 5px;
  left: -65px;/* 自分のメッセージの場合、左側に配置 */
  font-size: 10px;
}

.other-message .timestamp {  // タイムスタンプ
  position: absolute;
  top: 20px;
  left: -65px; /* 他人のメッセージの場合も左側に配置し、左側に時刻を揃える */
  font-size: 10px;
}


.my-message .user-name { // 自分のユーザー名は非表示
  display: none;
}

.other-message .user-name { // 他人のユーザー名
  display: block;
  margin-left: 50px;
}

.other-message .icon-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #98f9f1;
  display: inline-block;
}


// 薬登録画面
.label-placeholder {
  margin-top: 24px;  // ラベル分下げる
}

.time-input {
  max-height: 0;                             /* 最初は高さを0に */
  opacity: 0;                                /* 最初は完全に透明 */
  transform: translateY(10px);               /* Y軸方向に少し下げる */
  transition: opacity 0.5s, transform 0.5s;  /* 透明度と位置の変化に0.5秒かける */
}

.time-input.visible {
  max-height: 100px;
  opacity: 1;                 /* 完全に不透明に */
  transform: translateY(0);   /* 元の位置に */
}

.large-text-area {  // メモ欄
  height: 100px;
  overflow-y: auto; /* 縦方向のスクロールバーの表示 */
  resize: none; /* テキストエリアのリサイズを禁止 */
}

// 薬一覧画面
.time-label {
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
  background-color: #c7eafb;
  border-radius: 5px;
}

.memo-content {
  background-color: hsl(81, 64%, 96%);
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  word-wrap: break-word; /* 単語の折り返し */
}

// スケジュール画面
.confirm-button {
  background-color: rgb(233, 233, 233);
  transition: background-color 0.2s ease;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 7px;
  padding: 10px 25px;
  cursor: pointer;
}

.confirm-button.confirmed {
  border: 1px solid rgb(43, 101, 248);
  background-color: rgb(122, 204, 252);
}

.card-confirmed {
  background-color: rgb(228, 243, 249);
  transition: background-color 0.8s ease-in;
}

.schedule-cards .card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(17, 5, 252, 0.2);
  padding: 11px;
  margin: 10px 0;
}

.schedule-details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: start;
  flex-grow: 1;
}

.time,
.name,
.dosage {
  font-size: 1.1rem;
  margin: 0 10px;
  vertical-align: middle;
}

.time {
  color: #182d96;
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.dosage {
  color: #182d96;
}
