/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// ヘッダー ----------------------------------------------------------
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
  background-color: #044a91;
  // padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 5px 5px -4px #ccc;
}

.before-login {
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.hcc-logo { // ヘッダーのタイトル
  vertical-align: middle;
  height: auto;
  max-height: 35px;
}

.login-button {   // ログインボタン
  margin-right: 10px;
  margin-bottom: 3px;
  padding: 8px 20px;
  background-color: #dbf9bc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.login-button:hover {
  color: #fff;
  background-color: #65e01d;
}

.assign-button {  // 新規登録ボタン
  margin-bottom: 3px;
  padding: 8px 10px;
  color: #000000;
  border: 1px solid #035bad;
  background-color: #4ba6fb;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.assign-button:hover {
  color: #ffffff;
  background-color: #0783f7;
}

.after-login {
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

// ユーザーメニュー ----------------------------------------------------
.user-menu {
  position: relative;
}

.user-icon {
  width: 45px;
  height: 45px;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 8px;
  transition: background-color 0.5s ease;
}
.user-icon:hover {
  background-color: #89f56e;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 60px;     /* アイコンの下に配置 */
  right: 0;
  width: 330px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(108, 108, 108, 0.2), -3px 0px 10px rgba(108, 108, 108, 0.4);
  z-index: 1;
}

.user-dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
.user-dropdown li {
  padding: 1px 10px;
}
.user-dropdown li a {
  display: block;
  line-height: 40px;
  height: 40px;
  padding-left: 20px;
  text-decoration: none;
  color: black;
}
.user-dropdown li a:hover {
  background-color: #eaeaea;
}

.user-name {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.1rem;
}
.logout-button {
  margin-bottom: 10px;
}
.divider {
  height: 0.1px;
  background-color: #eaeaea;
  margin: 8px 4px;
}

// ボディー --------------------------------------
body {
  padding-top: 60px; // ヘッダーの高さ分だけ下にずらす
}

.content-area {
  padding: 0;
}

// サイドメニュー --------------------------------------
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 90px 10px;
  background-color: #d0dcf7;
  overflow-y: auto;
}

.content-area {
  margin-left: 20%; // サイドメニューの幅分だけ右にずらす
  width: 80%;
  overflow-y: auto;
}

.list-side-menu {
  padding: 5px 15px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}
.list-side-menu:hover {
  color: black;
  background-color: #faf1e0;
}
.list-side-menu.active {
  color: #f8f4ee;
  background-color: #479bfb;
}

.icon-class {
  width: 25px;
  height: auto;
  vertical-align: middle;
  margin-right: 7px;
}
.icon-class-list {
  width: 18px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 3px;
}

// フラッシュメッセージ --------------------------------------
.flash {
  position: fixed;
    top: 60px;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); // 影を追加
  }

  .flash-notice {
    color: #09023a;
    font-size: 1.1rem;
    background-color: #f8f5db;
    border-color: #fde976;
  }

  .flash-alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .flash-container.logged-out .flash {    /* ログイン前 横いっぱい */
    left: 0;
    width: 100%;
  }
  .flash-container.logged-in .flash {  /* ログイン後（サイドメニューの分だけ右にずらす） */
    left: 20%;
    width: 80%;
  }

// チャットルーム  --------------------------------------
.chat-box {
  width: 100%;
  margin-bottom: 80px;
}


  // チャット　フォーム  --------------------------------------
  .fixed-form {
    position: fixed;
    bottom: 0;
    left: 20%;
    width: 80%;
    padding: 9px 15px 15px 15px;
    background-color: #eaf2fc;
    transition: background-color 0.8s ease;
    box-shadow: 0 -5px 5px -5px #ccc;
  }
  .fixed-form:hover {
    background-color: #c3daf6;
  }

  #message_content {
    margin-right: 15px;
    resize: none; // テキストエリアのリサイズを無効化
  }

  .submit-button {
    height: 40px;
    width: 50px;
    border-radius: 10px;
    background-color: #5c8aed;
    transition: background-color 0.2s ease;
    border : none;
  }

  .submit-button:hover {
    background-color: #0250f6;
    }

  // チャットメッセージ  --------------------------------------
.other-message {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.my-message {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.message .card { // 吹き出し
  display: flex;
  justify-content: flex-start;
  max-width: 75%;
  border-radius: 5px;
  margin-left: 30px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.my-message .card { // 吹き出し（自分）
  color: #fff;
  margin-right: 10px;
  margin-left: auto;
  background-color: #378af8;
}

.other-message .card {  // 吹き出し（他人）
  color: #000000;
  margin-right: auto;
  margin-left: 65px;
  background-color: #fffbf5;
}

.my-message .card:before {    // 吹き出しの三角部分（自分）
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  right: -20px;
  top: 4;
  border-left-color:#378af8;
}

.other-message .card:before { // 吹き出しの三角部分（他人）
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  left: -20px;
  top: 4;
  border-right-color: #fffbf5;
}

.my-message .timestamp {
  position: absolute;
  bottom: 5px;
  left: -65px;/* 自分のメッセージの場合、左側に配置 */
  font-size: 10px;
}

.other-message .timestamp {  // タイムスタンプ
  position: absolute;
  top: 20px;
  left: -65px; /* 他人のメッセージの場合も左側に配置し、左側に時刻を揃える */
  font-size: 10px;
}


.my-message .user-name { // 自分のユーザー名は非表示
  display: none;
}

.other-message .user-name { // 他人のユーザー名
  display: block;
  margin-left: 65px;
}

.my-message .icon-box {
  display: none;
}

.other-message .icon-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid #888888;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

// 薬登録画面  --------------------------------------
.new-button {
  background-color: #dbf9bc;
  padding: 10px 0;
  margin-left: 25%;
}
.new-button:hover {
  background-color: #65e01d;
  color: #fff;
}

.delete-button {
  margin-left: 25%;
  margin-top: 15px;
  background-color: #f9f5f5;
  border: 1px solid #fb0707;
}
.delete-button:hover {
  background-color: #fb0707;
  color: #fff;
}

.back-button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 7px 30px;
  border: 1px solid #084d8a;
  border-radius: 10px;
  background-color: #edf3fa;
  transition: background-color 0.2s ease;
}
.back-button:hover {
  background-color: #b1d6f6;
}

.label-placeholder {
  margin-top: 24px;  // ラベル分下げる
}

.time-input {
  max-height: 0;                             /* 最初は高さを0に */
  opacity: 0;                                /* 最初は完全に透明 */
  transform: translateY(10px);               /* Y軸方向に少し下げる */
  transition: opacity 0.5s, transform 0.5s;  /* 透明度と位置の変化に0.5秒かける */
}

.time-input.visible {
  max-height: 100px;
  opacity: 1;                 /* 完全に不透明に */
  transform: translateY(0);   /* 元の位置に */
}

.large-text-area {  // メモ欄
  height: 100px;
  overflow-y: auto; /* 縦方向のスクロールバーの表示 */
  resize: none; /* テキストエリアのリサイズを禁止 */
}

// 薬一覧画面 --------------------------------------
.add-medication {
  padding: 5px 15px;
  border: 3px solid #3cd803;
}
.add-medication:hover {
  background-color: #36c403;
  color: #fff;
}

.medication-card {
  border-radius: 15px;
  box-shadow: 0 0 5px #ccc;
}

.medication-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.medication-title {
  font-size: 1.2rem;
  font-weight: bold;
  color:#0423a0
}

.edit-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.5s ease;
  background-color: #f1f8e8;
  border: 1px solid #30a604;
}
.edit-icon:hover {
  background-color: #a0f581;
  color: #fff;
}

.card-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-title {
  width: 80px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  display: inline-block;
}

.time-label {
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
  background-color: #cafbc7;
  border-radius: 5px;
}

.memo-content {
  margin-top: 10px;
  background-color: #f9fdf4;
  border-radius: 15px;
  line-height: 1.5;
  word-wrap: break-word; /* 単語の折り返し */
}

// スケジュール画面 --------------------------------------------
.schedule-last-next {
  display: flex;
  align-items: center;
}
.last-week-button, .next-week-button {  // 前後の週ボタン
  background-color: #f4fcf3;
  transition: background-color 0.2s ease;
  border: 1px solid #cdcdcd;
  padding: 10px 20px;
  cursor: pointer;
}
.last-week-button:hover, .next-week-button:hover {
  background-color: #cef696;
}

.last-week-button {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.next-week-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 5px;
}

.today-button {
  padding: 10px 20px;
  background-color: #f4fcf3;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
.today-button:hover {
  background-color: #cef696;
}

.schedule-week {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

.date-button {
  flex-grow: 1;
  padding: 10px 0;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.date-button:hover {
  color: #fff;
  background-color: #398bf6;
}

.selected-date {
  background-color: #ecf8ce;
  border-bottom: 3px solid #a9f718;
}

.confirm-button {
  background-color: #f3f9fc;
  transition: background-color 0.2s ease;
  border: 1px solid #e9e9e9;
  border-radius: 7px;
  padding: 10px 25px;
  border: 1px solid #2676f7;
  cursor: pointer;
}
.confirm-button:hover {
  color: #fff;
  background-color: #2676f7;
}

.confirm-button.confirmed {
  color: #fff;
  background-color: #2676f7;
}

.card-confirmed {
  background-color: #dfe6f6;
  transition: background-color 0.5s ease-in;
}

.schedule-cards .card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #1105fc33;
  padding: 11px;
  margin: 10px 0;
}

.schedule-details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: start;
  flex-grow: 1;
}

.time,
.name,
.dosage {
  font-size: 1.1rem;
  margin: 0 10px;
  vertical-align: middle;
}

.time {
  color: #182d96;
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.dosage {
  color: #182d96;
}

.no-schedule {
  margin-top: 10px;
  text-align: center;
}
.no-schedule p {
  font-size: 1.2rem;
  color: #484849;
  margin-top: 20px;
}
.no-schedule-img {
  width: 50%;
}

// トップページ　---------------------------------------------
.hcc-button {
  padding: 10px 30px;
  font-size: 1.2rem;
  color: #000000;
  background-color: #78baf8;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}
.hcc-button:hover {
  color: #fff;
  background-color: #067af7;
}

.hcc-login-button {
  // トップページ上のログインボタン
  display: none;
}

.patient-text {
  color:rgb(6, 161, 84);
}

.top-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

// 新規登録画面　---------------------------------------------
.password_confirmation {
  margin-top: 10px;
}

.main-link {
  font-size: 1.2rem;
  border-radius: 10px;
  color: #fff;
  background-color: #78baf8;
  transition: background-color 0.2s ease;
}
.main-link:hover {
  color: #fff;
  background-color: #056ad6;
}

.another-link {
  border: none;
  color: #a2a2a2;
}
.another-link:hover {
  color: #3d3d3d;
  text-decoration: none;
}

.form-control:focus {  // フォームの枠線
  border-color: #021391;
  box-shadow: 0 0 0 0.1rem #02268888;
}

// 設定画面　---------------------------------------------
.delete-link {
  color: #fff;
  margin-bottom: 10px;
  background-color: #f67676;
  border: 2px solid #f86868;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}
.delete-link:hover {
  color: #fff;
  background-color: #f42222;
}

// モーダルウィンドウ　---------------------------------------------
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {  // モーダルウィンドウの中身（表示される部分）
  background-color: #fefefe;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 20px 0;
  border: 1px solid #888;
  border-radius: 5px;
  width: 50%;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.modal-font, .modal-header {  // モータルウィンドウのタイトル
  font-size: 1.2rem;
  font-weight: bold;
}

#closeModal {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#closeModal:hover,
#closeModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

// レスポンシブ対応 ---------------------------------------------
@media (max-width: 700px) {
  .hcc-logo {
      // ヘッダーのタイトル
      vertical-align: middle;
      height: auto;
      max-height: 25px;
    }

    .before-login {
    padding: 0 5px;
    }

    .login-button {
      // ヘッダーのログインボタン
      display: none;
    }
    .assign-button {
      // 新規登録ボタン
      display: none;
    }

    .hcc-login-button {
      // トップページ上のログインボタン
      display: inline-block;
      padding: 10px 30px;
      margin-top: 20px;
      font-size: 1.2rem;
      color: #000000;
      background-color: #dbf9bc;
      border-radius: 10px;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .hcc-login-button:hover {
      color: #fff;
      background-color: #65e01d;
    }

    .after-login {
      padding: 0 10px;
    }

    // サイドメニュー削除関係 ---------------------------------------------
    .side-menu {
      display: none;
    }
    .content-area {
      margin-left: 0;
      width: 100%;
    }
    .fixed-form {
      bottom: 46px;
      left: 0;
      width: 100%;
      padding: 4px 7px;
    }
    #message_content {
      margin-right: 8px;
    }
    .submit-button {
      height: auto;
    }

    // フラッシュメッセージ　ログイン後100% ---------------------------------------------
    .flash-container.logged-in .flash {
      left: 0;
      width: 100%;
    }

    .modal-content {
      // モーダルウィンドウの中身（表示される部分）
      margin-top: 25%;
      width: 90%;
    }
}

.tab-bar {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 0;
  box-shadow: 0 -5px 5px -5px #ccc;
  // background-color: #defed2;
}

.tab-item {
  flex-grow: 1;
  background-color: #f1f1f1;
  text-align: center;
  padding: 8px;
  height: 46px;
  text-decoration: none;
  color:#000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-item.active {
  background-color: #ffffff;
}

.tab-icon {
  width: 20px;
  height: auto;
  margin-bottom: 2px;
}
.tab-name {
  font-size: 0.7rem;
}

@media (min-width: 700px) {
  .tab-bar {
    display: none;
  }
}
