/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html, body {
  height: 100%;
}


.bg-lightblue {
  background-color: #BAD3FF;
  min-height: 100vh;
}

.fixed-bottom-form {
  position: fixed;
  bottom: 0;
  width: 50%;
  padding: 20px;
  background-color: #fff;
}

// フラッシュメッセージ
.flash {
    position: fixed;
    top: 0;
    left: 25%; //サイドメニューの幅を引く
    right: 0;
    width: 75%; // 各ビュー75%に設定
    text-align: center;
    padding: 10px;
    z-index: 1000;
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); // 影を追加
  }

.flash-notice {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    background: linear-gradient(to right, #cce5ff, #a2c4ff);
  }

.flash-alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    background: linear-gradient(to right, #f8d7da, #f2a1a6);
  }

// 薬登録画面
.label-placeholder {
  margin-top: 24px;  // ラベル分下げる
}

.time-input {
  max-height: 0;                             /* 最初は高さを0に */
  opacity: 0;                                /* 最初は完全に透明 */
  transform: translateY(10px);               /* Y軸方向に少し下げる */
  transition: opacity 0.5s, transform 0.5s;  /* 透明度と位置の変化に0.5秒かける */
}

.time-input.visible {
  max-height: 100px;
  opacity: 1;                 /* 完全に不透明に */
  transform: translateY(0);   /* 元の位置に */
}

.large-text-area {  // メモ欄
  height: 100px;
  overflow-y: auto; /* 縦方向のスクロールバーの表示 */
}

// 薬一覧画面
.time-label {
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
  background-color: #c7eafb;
  border-radius: 5px;
}

.memo-content {
  background-color: hsl(81, 64%, 96%);
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  word-wrap: break-word; /* 単語の折り返し */
}

// スケジュール画面
.confirm-button {
  background-color: rgb(233, 233, 233);
  transition: background-color 0.3s ease-in-out;
  border: none;
  border-radius: 7px;
  padding: 10px 30px;
  cursor: pointer;
}

.confirm-button.confirmed {
  padding: 9px 25px;
  border: 1px solid rgb(0, 163, 245);
  background-color: rgb(132, 204, 246);
}

.schedule-cards .card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(17, 5, 252, 0.2);
  padding: 11px;
  margin: 10px 0;
}

.schedule-details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: start;
  flex-grow: 1;
}

.time,
.name,
.dosage {
  font-size: 1.2rem;
  margin: 0 10px;
  vertical-align: middle;
}

.time {
  color: #182d96;
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.dosage {
  color: #182d96;
}
