<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div id ='messages' data-secret-id='<%= current_user.secret_patient_id %>' data-current-user-id='<%= current_user.id %>' >
            <%= render @messages %>
          </div>
        </div>
      </div>

      <form id="new_message" class="mt-5 fixed-bottom-form">
        <div class="form-group d-flex">
          <textarea id="message_content" data-behavior="room_speaker" class="form-control me-2 flex-grow-1" rows="2"></textarea>
          <input type="submit" value="é€ä¿¡" class="btn btn-success ml-3">
        </div>
      </form>
    </div>
  </div>
</div>
