<h1>Chat room</h1>
<div id ='messages'>
  <%= render @messages %>
</div>

<form id="new_message">
  <label>【入力欄】</label><br>
  <textarea id="message_content" data-behavior="room_speaker" row="5" cols="30"></textarea>
  <input type="submit" value="Send">
</form>
