<% if @medication.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@medication.errors.count, "個") %> のエラーがあるため保存できません</h2>
    <ul>
      <% @medication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
