<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3 class="text-center mb-3">お薬情報登録</h3>

      <%= render 'errors' %>
      <%= render 'form' %>
    </div>
  </div>
</div>
